.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(assets/shrugs/hero.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.bg-auth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(assets/pexels-sippakorn-yamkasikorn-3696170.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
